{% extends 'layout.html' %}

{% block title %}Mainpage{% endblock %}

{% block content %}

<h1>Main Menu</h1>

{% if msg %}

<p>{{ msg }}</p>

{% endif %}

<p>Current user: {{ session['user'] }}</p>

<form action="{{ url_for('add_attempt') }}" method="get">
    <input type="submit" value="Add a new attempt">
</form>

<form action="{{ url_for('add_routes') }}" method="get">
    <input type="submit" value="Add a new route">
</form>

<form action="{{ url_for('profile') }}" method="get">
    <input type="submit" value="Edit your profile">
</form>
<!-- 
<form action="{{ url_for('boulder_history') }}" method="get">
    <input type="submit" value="View your boulder history">
</form>

<form action="{{ url_for('sport_history') }}" method="get">
    <input type="submit" value="View your sport history">
</form> -->

<!-- <form action="{{ url_for('browse') }}" method="get">
    <input type="submit" value="View other climbers' videos">
</form> -->
<!-- 
<form action="{{ url_for('logout') }}" method="get">
    <input type="submit" value="Logout">
</form> -->

{% endblock %}