<h1>Log In Page</h1>

{% for message in get_flashed_messages() %}

<h2>{{ message }}</h2>

{% endfor %}

<form action="{{ url_for('home') }}" method="post">
    <label for="email">Email: </label>
    <input type="email" name="email" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" required>
    <br>
    <input type="submit" value="Log In">
</form>

<p><a href="{{ url_for('register') }}">Register</a></p>

<h2>{{ active_user }}</h2>
<h2>{{ active_email }}</h2>